body {
  font-family: 'Adelle Sans';
}

section {
  padding: 80px 0 40px;
  border-top: 1px solid #ccc;
}

button {
  border
}

.navbar {
  background: #00C2A2;
}
.white-text {
  color: #fff;
}

.textarea {
  border: none;
}

.form-section {
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
