<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AI Writing Check</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
  <!--  Essential META Tags -->
  <meta property="og:title" content="AI Writing Check">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://aiwritingcheck.org/static/images/ai-writing-check-screen.png">
  <meta property="og:url" content="https://aiwritingcheck.org/">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->
  <meta property="og:description" content="AI Writing Check is a free service developed by Quill.org and CommonLit.org to enable educators to check if a piece of writing submitted by a student was written by the AI tool ChatGPT.">
  <meta property="og:site_name" content="AI Writing Check">
  <meta name="twitter:image:alt" content="Screenshot of AI Writing Check Tool">
  <meta name="twitter:site" content="@Quill_org">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9BXMRYF71R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9BXMRYF71R');
</script>
<body>
  <header class='green p-6'>
    <div class='container'>
      <div class='columns is-vcentered pt-4'>
        <div class="column is-4 ">
          <div class='title is-2 white-text'>AI Writing Check</div>
        </div>
        <div class='column is-3 white-text has-text-right-desktop'>
          A free service provided</br>
          by the nonprofit organizations
        </div>
        <div class='column'>
          <a href="https://www.quill.org/">
            <img src="../static/images/quill.svg" alt="Quill.org logo" class="mr-4">
          </a>
          <img src="../static/images/line.svg" alt="line" class="mr-4 is-hidden-touch">
          <a href="https://www.commonlit.org/">
            <img src="../static/images/common_lit.png" alt="CommonLit logo" class='common-lit-logo'>
          </a>
        </div>
      </div>
    </div>
  </header>
  <main class='m-6'>
    <div class='container'>
      <div class='content my-6 is-size-5-mobile'>
        <p>👋 Educators, AI Writing Check is a free service developed by Quill.org and CommonLit.org to enable educators to check if a piece of writing submitted by a student was written by the AI tool ChatGPT. This algorithm is designed to detect AI-generated writing. </p>

        <p>We estimate, based on testing with 15k essays, that this tool is accurate 80-90% of the time. For this reason, we'd like to encourage teachers to exercise caution when using this tool to detect academic dishonesty. AI Writing Check is a stopgap tool measure for educators to use this school year until more advanced AI detection tools are made widely available. </p>

        <p>To check responses longer than 400 words, you must separate the text into individual sections.</p>
      </div>
      <div class='form-section p-5 mb-6'>
        <form id="js-form">
        <textarea id="js-textBox" class='textarea' placeholder='Enter text here' rows=15></textarea>
        <div class='columns mt-4'>
          <div class='column'>
            <div id="js-counters" class='columns counters ml-1'>
              <div class='column'>
                <div class='title mb-0'>100</div>
                <div class='description'>Minimum words required</div>
              </div>
              <div class='column'>
                <div id="js-wordCount" class='title mb-0'>0</div>
                <div class='description'>Current words</div>
              </div>
              <div class='column'>
                <div class='title mb-0'>400</div>
                <div class='description'>Max words</div>
              </div>
            </div>
          </div>

          <div class='column is-3 is-clearfix'>
            <input type="submit" id="js-submitButton" class='button is-primary is-large is-pulled-right is-fullwidth is-responsive' value="Check Text"
            />
          </div>
        </div>
        </form>

        <div class='columns mt-4 '>
          <div class='column js-feedbacks'>
            <div id="js-warning" class="js-feedback p-5 warning content">
              <p>This free tool has no guaranteed uptime or support. It may not be available when there is heavy demand.</p>
            </div>
            <div id="js-processing" class="js-feedback p-5 processing content hide">
              <h3 class='title'>
                Processing
                <span class='processing-spinner'></span>
              </h3>

              <p>Your submission is in the queue. The system processes one text every two seconds, meaning that it can take minutes when there is heavy demand.</p>
            </div>
          <div id="js-human" class="js-feedback content hide">
            <hr class='divider' />
            <h3 class='title human p-5'>
              <img src="../static/images/robot.svg" alt="Siren" class="emoji-icon">
              <div class='pl-5 ml-4'>
                AI Prediction: <b>Text Written by Human</b>
              </div>
            </h3>
            <hr class='divider' />
            <h4 class='title'>Three Important Things to Know</h4>
            <div class='info p-5 mb-4'>
              <h5 class='title'>
                <img src="../static/images/siren.svg" alt="Siren" class="emoji-icon">
                <div class='pl-5 ml-4'>
                  This tool is not perfectly accurate - it will misidentify some pieces of writing
                </div>
              </h5>
              <p class='pl-5 ml-4'>No tool AI text detection tool is perfectly accurate. This tool is accurate about 80% to 90% of the time, meaning that one or two of every ten pieces of writing that were flagged as human written will actually be written by AI.</p>
            </div>
            <div class='info p-5 mb-4'>
              <h5 class='title'>
                <img src="../static/images/warning.svg" alt="Warning Gate" class="emoji-icon">
                <div class='pl-5 ml-4'>
                  Students can fool the system by rewriting the text
                </div>
              </h5>
              <p class='pl-5 ml-4'>Students can fool algorithms that identify AI writing by rewriting the bot’s writing or by using another AI tool to rewrite the text for them. If a student sufficiently changes the writing, it is difficult for an AI tool to detect it as AI writing. </p>
            </div>
            <div class='info p-5'>
              <h5 class='title'>
                <img src="../static/images/message_bubble.svg" alt="Chat Message" class="emoji-icon">
                <div class='pl-5 ml-4'>
                  When you identify AI generated writing, treat this as a learning opportunity
                </div>
              </h5>
              <p class='pl-5 ml-4'>Students are curious about AI, and we should encourage students to learn how to use these tools. If a student has misrepresented AI writing as their own, we have created a toolkit that may help you talk to your student about why it is that students cite their sources and not misrepresent someone else’s work at their own. </p>
            </div>
          </div>
          <div id="js-ai" class="js-feedback content hide">
            <hr class='divider' />
            <h3 class='title ai p-5'>
              <img src="../static/images/robot.svg" alt="Siren" class="emoji-icon">
              <div class='pl-5 ml-4'>
                AI Prediction: <b>Text Written by AI</b>
              </div>
            </h3>
            <hr class='divider' />
            <h4 class='title'>Three Important Things to Know</h4>
            <div class='info p-5 mb-4'>
              <h5 class='title'>
                <img src="../static/images/siren.svg" alt="Siren" class="emoji-icon">
                <div class='pl-5 ml-4'>
                  This tool is not perfectly accurate - it will misidentify some pieces of writing
                </div>
              </h5>
              <p class='pl-5 ml-4'>No tool AI text detection tool is perfectly accurate. This tool is accurate about 80% to 90% of the time, meaning that one or two of every ten pieces of writing that were flagged as AI written will actually be written by a human.</p>
            </div>
            <div class='info p-5 mb-4'>
              <h5 class='title'>
                <img src="../static/images/scales.svg" alt="Warning Gate" class="emoji-icon">
                <div class='pl-5 ml-4'>
                  This tool is not sufficient proof of academic dishonesty
                </div>
              </h5>
              <p class='pl-5 ml-4'>The AI detection algorithms look for formulaic patterns. Since students sometimes write in a formulaic style, all AI detection algorithm will sometimes mistakenly flag this writing as AI writing. No AI tool is accurate enough to be definitive proof of academic dishonesty. </p>
            </div>
            <div class='info p-5'>
              <h5 class='title'>
                <img src="../static/images/message_bubble.svg" alt="Chat Message" class="emoji-icon">
                <div class='pl-5 ml-4'>
                  If you identify AI writing in a student text, treat this as a learning opportunity
                </div>
              </h5>
              <p class='pl-5 ml-4'>Students are curious about AI, and we should encourage students to learn how to use these tools. If a student has misrepresented AI writing as their own, we have created a toolkit that may help you talk to your student about why it is that students cite their sources and not misrepresent someone else’s work at their own. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <section class='content mt-6 is-size-5-mobile'>
        <h3>
          Educators, we created a toolkit to help you talk about AI plagiarism with your students
        </h3>

          <p>With the introduction of this new technology, students are curious about how to use it. We believe that if students use AI tools as research tools, and properly cite it as a source, it can help students learn about new ideas. However, when students pass off AI generated writing as their own, they are not engaging in the critical process of building their own writing skills. To help you set the right expectations with your students and navigate these conversations, we created a toolkit.</p>

        <p class='buttons'>
          <a href="https://s3.amazonaws.com/quill-image-uploads/uploads/files/A_Toolkit_for_Addressing_AI_Plagiarism_in_the_Classroom_2747.pdf" class='button' target="_blank">Toolkit for Addressing AI Plagiarism</a>
        </p>
      </section>
      <section class='content is-size-5-mobile'>
        <h3>
          If you found this helpful, please help us share with other educators
        </h3>

          <p>This free, nonprofit service is powered by donations. If you found this helpful, you can help us by sharing this service with other educators.
          By helping us to get the word out, we can raise additional donations to continue to provide this service.</p>

        <p class='buttons'>
          <a href="mailto:?subject=This tool checks for AI writing &body=Check out AIWritingCheck.org" class='button' target="_blank" rel="noopener noreferrer">Share via Email</a>
          <a href="https://twitter.com/intent/tweet?text= Tell%20%40Quill_org%20%40CommonLit%20-%20was%20AI%20Writing%20Check%20helpful%3F" class='button'>Share on Twitter</a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=aiwritingcheck.org" class='button'>Share on Facebook</a>
        </p>
      </section>

      <section class='content is-size-5-mobile'>
        <h3>
          We created AI Writing Check to support strong writing education for students
        </h3>

          <p>Quill.org & CommonLit are nonprofit educational technology organizations dedicated to helping 3rd - 12th grade students become stronger writers. Quill.org provides writing activities that use AI to provide students with immediate feedback and coaching, enabling them to continually revise their work and build their skills. CommonLit provides interactive reading and writing activities, and a full English Language Arts curriculum to support literacy development in grades 6-12.</p>

          <p>Quill.org and CommonLit deeply believe that every student needs to be a strong writer to succeed in school and careers, and technology can help build these writing skills. To achieve this mission, both of our nonprofits provided our activities for free to all educators and students.</p>

        <p class='buttons'>
          <a href="https://www.quill.org/" class='button'>Visit Quill.org</a>
          <a href="https://www.commonlit.org/" class='button'>Visit CommonLit.org</a>
        <p>
      </section>
      <section class='content is-size-5-mobile'>
        <h3>
          Funders, technologists, and journalists: support our mission to build writing skills for millions of underserved students
        </h3>

          <p>As nonprofit, open-source organizations, we are funded by donors who support our missions to build reading, writing, and critical thinking skills. Technologists, support Quill.org and CommonLit's open source initiatives. Journalists, reach out to learn more about our impact on students.</p>
          <ul>
            <li>Nonprofit foundations, reach out to learn more about our organizations impact underserved students</li>
            <li>Technologists, reach out to us if you are interested in contributing to our open-source projects.</li>
            <li>Journalists, reach out to us to learn more about how Quill & CommonLit help millions of students across the United States.</li>
            <li>Educators, reach out to share your feedback and learn more about our educational tools.</li>
          </ul>

        <p class='buttons'>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaUkvOD0pVV4mboJGs77MNpm1d7lS6c5TQewUJf3b6oE7nfg/viewform" class='button'>Reach Out - Contact Us</a>
        </p>
      </section>
    </div>
  </main>
  <footer class='footer'>
    <div class='container'>
      <div class="columns content">
        <div class='column is-3'>
          <span class='copyright'>&copy; 2023 Empirical Resolution Inc.</span>
        </div>
        <div class='column'>
          <a href="https://www.quill.org/tos">Terms</a>
        </div>
        <div class='column'>
          <a href="https://www.quill.org/privacy">Privacy</a>
        </div>
        <div class='column'>
          <a href="https://www.quill.org/">Visit Quill.org</a>
        </div>
        <div class='column'>
          <a href="https://www.commonlit.org/">Visit CommonLit.org</a>
        </div>
        <div class='column is-2'></div>
      </div>

      <p>AIWritingCheck.org is provided by the 501(c)3 nonprofit Empirical Resolution Inc. (Quill.org) and built with support from CommonLit.</p>
    </div>
  </footer>
  <script async type="text/javascript" src="../static/script.js"></script>
</body>
</html>
